{% extends "base.html" %}
{% block content %}


<div class="viewItem">
    <div class="viewIndex">
        <p>Name: {{destination.user.name}}<br>
            <br>
        City: {{destination.city}}<br>
        Country: {{destination.country}}<br>
        Visited: {% if destination.visited %}
        <span>&#9989;</span>
        {% else %}
        <span>&#10062;</span>
        {% endif %}
    </p>

        <form class="delete-form" action="/destinations/{{destination.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
</div>
</div>

{% endblock %}