
.addButton{
    text-align: center;
}
.add{
    text-align: center;
    background-color: white;
    color: rgba(33, 153, 204, 0.911);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}
.add:hover{
    color: white;
    background-color: rgba(33, 153, 204, 0.911);
    font-weight: bold;
}

.add-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
.addDestination{
    width: 290px;
    height: 300px;
    border: 1px;
    padding: 50px 30px 30px 30px ;
    background-color: rgba(255, 255, 255, 0.222);
    border-radius: 18px;
    justify-content: center;
    font-size: 20px;
    color: rgba(26, 109, 144, 0.911);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#visited label {
    display: block;
    text-align: center;

}
.city{
    float: right;
}
.country{
    float: right;
}
.name{
    float: right;
}
.visited{
    width: 50px;
}
.button{
    text-align: center;
}
.button2{
    background-color: rgba(26, 109, 144, 0.911);
    border-radius: 2px;
    color: white;
    border: none;
    padding: 4px 8px 4px 8px;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.button2:hover{
    color: rgba(26, 109, 144, 0.911);
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .addDestination {
        width: 100%;
        margin: 10px;
    }
    .header{
        font-size: 15px;
    }

    .visited, .home, .all{
        font-size: 15px;
    }

    input#searchBar{
        margin-top: 10px;
        width: 120px;
        padding: 0 1px;
    }
    input#submit{
        margin-top: 10px;
        width: 50px;
        font-size: 10px;
        padding-top: 3px;
    }
}