.header{
    color:white;
    text-align: center;
    font-size: 40px;
    margin: 10px 0px;
}
.addButton{
    text-align: center;
}
.add{
    text-align: center;
    background-color: white;
    color: rgba(33, 153, 204, 0.911);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}
.add:hover{
    color: white;
    background-color: rgba(33, 153, 204, 0.911);
    font-weight: bold;
}
.header2{
    text-align: center;
    color: white;
}
.click{
    color:white;
    text-decoration: none;
}
.click:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .header{
        font-size: 25px;
    }
}